
.width{
  max-width: 500px;
}
.topic-list {
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.topics {
  cursor: pointer;
  
  margin-bottom: 10px;
  max-width: 200px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #2e3039;
  color: white;
  margin-right: 16px;
  border: 2px solid #2e3039;
}
.clear-all{
  font-size: large;
  cursor: pointer;

}
.topics:hover, .topics.active{
  border:2px solid rgb(196, 43, 43)
}
.topic-list li:hover {
  background-color: #e0e0e0;
}
.align-top{
  align-self: flex-start;
  margin-right: 50px;
}
