/* RevisionHistory.css */

.revision-history-container {
    border: none;
    padding: 20px;
    margin: 20px;
    
  }
  
  .revision-list {
    color: rgba(218, 218, 218, 0.729);
    padding: 0;
  }
  
  .revision-item {
    margin-bottom: 10px;
    padding: 10px;
    
  }
 
  