body {
  margin: 0px;
  background-color: #1f2028;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  padding: 30px 50px;
  box-sizing: border-box;
}

@media screen and (min-width: 1200px) {
  body {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media screen and (max-width: 768px) {
  body {
    padding: 16px;
  }
}

.button-style {
  margin-right: 10px;
}

.button-sheet {
  margin-bottom: 10px;
}

.page-heading {
  background-color: #1976d2;
  font-weight: 100;
  color: white;
  margin-top: -10px;
  margin-left: -10px;
  margin-bottom: 10px;
  height: 70px;
}

.container {
  display: flex;
  align-items: center;
}

.text {
  margin-right: auto;
  margin-left: auto;
}

.display-container {
  width: 100%;
}
