.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.navbar-right {
  display: flex;
  align-items: center;
}
.navbar-write {
  display: flex;
  color: gray;
  text-decoration: none;
  font-size: large;
  cursor: pointer;
}
.write {
  margin-left: 10px;
}
.navbar-profile {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin-right: 20px;
  cursor: pointer;
}
.logout-button,
.filter-button {
  background-color: #dc3545;
  color: #ffffff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
  font-weight: bold;
  margin-right: 20px;
}
.filter-button {
  background-color: #ff5733;
  
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.filter-button:hover {
  background-color: #e64719; /* Slightly darker shade of orange on hover */
}
.filter-form{
  color:rgb(182, 182, 182);
}
.filter-form-input{
  background-color: #242424;
  color: white;
  border-radius:8px;
  padding:8px;
  outline: none;
  margin-left:10px;
  border: 1px solid grey;
  margin-bottom: 8px;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.navbar-search {
  padding: 10px;
  width: 300px;
  border-radius: 15px;
  background-color: #f3f3f3;
  color: #242424;
  border: none;
  outline: none;
}

.navbar-right {
  display: flex;
  align-items: center;
}
.navbar-write {
  display: flex;
  color: gray;
  text-decoration: none;
  font-size: large;
  cursor: pointer;
}
.write {
  margin-left: 10px;
}
.navbar-profile {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin-right: 20px;
  cursor: pointer;
}
.pointer {
  cursor: pointer;
}

.search-input {
  width: 400px;
  border: 2px solid gray;
  color: white;
  background-color: #242424;
  border-radius: 9999px;
  padding: 1rem 3rem 1rem 3.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  outline: none;
  margin-bottom: 30px;
  
}
.margin-top{
  margin-top: 50px;
}
.pages {
  font-size: larger;
  font-weight: bold;
  text-decoration: none;
  color: #64748b;
  margin-right: 40px;
}
.pages:hover ,.pages.active{
  color: #ffffff;
  text-decoration:1px underline;
}
/* Dark mode styles */
