.content-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  
}

.content-title {
  text-align: center;
}

.subscription-options {
  display: flex;
  justify-content: space-between;
}

.subscription-option {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  font-size: larger;
  font-weight: bold;
}
.subscription-option.curr{
  border: 2px solid rgb(235, 86, 36);
}
.subscription-button ,.view-post-button{
  margin-top: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
.view-post-button{
  background-color: rgb(251, 90, 22);
  font-weight: bold;
}
.selected-option {
  margin-top: 20px;
  background-color: #2b938c8d;
  padding: 10px;
  border-radius: 5px;
}
.selected-option-margin {
  margin-left: 15px;
}
.center{
  justify-content: center;
}