.list {
    width: 350px;
    border: none;
    background-color: #3c3c3c;
    min-height:200px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.list-button {
  padding: 10px 15px;
  margin: 10px;
  background: #145cc6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin:20px;
  
}
.share-popup{
    position: absolute;
    right: 20px;
    top:20px;
}
.list-input{
    padding:10px 20px;
    width:300px;
    border-radius: 10px;
    
}